*.exe
*.exe~
*.dll
*.so
*.dylib
*.tmp
*.bat
*.log
*.test
*.out

go.work
.idea
.vscode

.env

some.txt

redis.conf

craft_mlt_25k.pth

debug/

debug_original_*

ubuntu-STD3-4-4-50GB-hdd-9g70Wizm.pem

flushall.sh
